.main {
  margin-left: 2rem;
}

.nav {
  display: flex;
  /* margin-left: 1rem; */
  margin-right: 0.5rem;
}

.nav li {
  list-style: none;
}

li {
  margin-top: 1rem;
}

.shop-name {
  margin-bottom: 0.5rem;
  color: rgb(92, 26, 236);
}

.a-link {
  color: rgb(44, 25, 25);
  text-decoration: none;
}

.a-link:hover {
  color: orangered;
}

span {
  color: tomato;
}
